
@{
    ViewBag.Title = "Northwind Customers Database";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Index</h2>

@Html.ActionLink("View List", "List")
@Html.ActionLink("Create A New Item", "Create")

