@{
    ViewBag.Title = "Northwind Customers";
}

<div class="jumbotron">
    <h1>Northwind Database</h1>
    <p class="lead">This is a Database tool for all those interested in Northwind's customer base.</p>
    
</div>

